<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/create_done.css">
    <title>chaTask - グループ作成成功</title>
</head>
<body>
    <h1>グループ作成成功！</h1>
    <p>group name: <%= groupname %></p>
    <p>project name: <%= project %></p>
    <a href="/login">ログインする!</a>
</body>
</html>