<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/create.css">
    <title>chaTask - グループ作成</title>
</head>
<body>
    <header>
        <a href="/"><img src="img/logo.png" alt="チャッタスクのロゴ画像です" class="logo"></a>
        <button class="button"><a href="/login">ログインする</a></button>
    </header>
    <form action="/create_done" method="POST">
        <h1>チームを作る</h1>
        
        <div class="inputfield">
            <label>チーム名</label><input class="inputtext" type="text" name="groupname"><br>
            <label>プロジェクト名</label><input class="inputtext" type="text" name="project"><br>
            <label>パスワード</label><input class="inputtext" type="password" name="password"><br>
        </div>

        <input type="submit" value="つくる！">

    </form>

</body>
</html>