<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/create.css">
    <title>chaTask - グループ作成</title>
</head>
<body>
    <header>
        <a href="/"><img src="img/logo.png" alt="チャッタスクのロゴ画像です" class="logo"></a>
        <button class="button"><a href="/login">ログインする</a></button>
    </header>
    <form action="/create_done" method="POST">
        <h1>メンバーを登録する</h1>
        
        <div class="inputfield">
            <label>チームリーダー</label><input class="inputtext" type="text" name="name"><br>
            <label>チームメンバー</label>
            <button type="button" class="addbutton">追加</button>
            <ol class="memberlist">
                <li class="member">
                    <input class="inputtext" type="text" name="name">
                </li>
            </ol>
       
        <input type="submit" value="つくる！" class="submit">
         </div>
        <p></p>
    </form>
    
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/create.js"></script>

</body>
</html>