<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
	<title>chaTask - チームでタスク管理アプリ</title>
</head>
<body>
    
        <div class="main">
            <h1><div class="catchcopy">チームでタスクを管理しよう。</div><br>
                <img src="img/logo_top.png" alt="チャッタスクのロゴ画像です" id="logo" class="img"></h1>
                <img src="img/logo2_top.png" alt="チャッタスクの説明です" id="logo2" class="img">
        </div>

        <div class="linkbuttons">
            <button class="buttons" id="createbutton"><a href="/create">チームを作る</a></button>
            <button class="buttons" id="loginbutton"><a href="/login">ログインする</a></button>
        </div>

        <footer>
            <p class="copyright"><small>&copy; Team 235</small></p>
        </footer>
   
</body>
</html>