<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
	<title>chaTask</title>
</head>
<body>
    <!-- あとで背景画像を追加する -->
    <div class="main">
        <h1><div class="catchcopy">チームでタスクを把握しよう。</div><br>
        <img src="img/logo.png" alt="チャッタスクのロゴ" id="logo"></h1>
        <img src="img/logo2.png" alt="チャッタスクの説明です" id="logo2">
    </div>

    <div class="linkbuttons">
        <button class="buttons" id="createbutton"><a href="/create">チームを作る</a></button>
        <button class="buttons" id="loginbutton"><a href="/login">ログインする</a></button>
    </div>

    <footer>
        <p class="copyright"><small>&copy; Team 235</small></p>
    </footer>

</body>
</html>