<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タスク管理×チャット</title>
	<link rel="stylesheet" href="/css/logon.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div class="left">
	<h1><%= groupname %> </h1>
	<h2>タスク管理アプリ</h2>
	<h3 id="name"><i class="fa fa-comment"></i> <%= name %></h3>
	<div id="member_contain">
		<h2>Member</h2>
		<div id="member"></div>
	</div>
	<p id="logout"><a href="/logout">Logout</a></p>
</div>

<div class="right">
	<div class="task">
		<h2>Task</h2>
		<div id="field"></div>
    		<div id="task_form">
    			<textarea cols="100" rows="1" id="input_text"/></textarea>
    			<button id="create-button"> create </button>
			<!-- <p><i class="fa fa-plus" id="create-button"></i></p> -->
		</div>
	</div>
	<div class="chat">
		<h2>Chat</h2>
		<div id="message"></div>
		<div id="message_form">
			<textarea cols="100" rows="1" id="message_input"/></textarea>
			<button onclick="sendMessage()">  send  </button>
		</div>
	</div>

</div>

	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/task.js"></script>
	<script src="/chat.js"></script>

</body>
</html>