@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    text-align: center;
    font-family: 'Noto Sans Japanese', sans-serif;
    .inputfield {
        margin: 0 auto;
        width: 500px;
        .inputtext, label {
            display: block;
            float: left;
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        .inputtext {
            text-align: left;
            width: 200px;
        }

        label {
            display: block;
            width: 200px;
            float: left;
            padding-right: 15px;
            text-align: right;
        }

        br {
            clear: both;
        }
        
    }


}