@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    text-align: center;
    font-family: 'Noto Sans Japanese', sans-serif;

    header {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        .logo {
            width: 178px;
            float: left;
            margin: 0;
        }
        .button {
            float: right;
            padding: 15px 20px;
            cursor: pointer;
            border-radius: 7px;
            margin: 0 20px;
            background-color: #330000;
            a {
                font-family: 'Noto Sans Japanese', sans-serif;
                font-weight: bold;
                text-decoration: none;
                color: white;
                font-size: 1.2em;
            }
        }
        .button:hover {
            background-color: lighten(#330000, 15%);
            transition: .2s;
        }
    }

    header::after {
        content: "";
        display: block;
        clear: both;
    }

    .inputfield {
        margin: 0 auto;
        width: 500px;
        margin-bottom: 30px;
        .inputtext, label {
            display: block;
            float: left;
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        .inputtext {
            text-align: left;
            width: 200px;
        }

        label {
            display: block;
            width: 200px;
            float: left;
            padding-right: 15px;
            text-align: right;
        }

        br {
            clear: both;
        }
        
    }

    .submit {
        padding: 15px 20px;
        cursor: pointer;
        border-radius: 7px;
        margin: 0 20px;
        color: #330000;
        font-size: 1.2em;
        font-weight: bold;
        font-family: 'Noto Sans Japanese', sans-serif;
        background-color: #fff;
    }

    .submit:hover {
        background-color: #eee;
        transition: .2s;
    }


}